    header {
      text-align: center;
      background: url("https://68.media.tumblr.com/1f84e5a7b58d16ac2e4de000dd228f31/tumblr_noo5vmVlkB1u9b9ceo1_500.gif");
      background-size: cover;
      color: white;
    }
    .nav {
      color: white;
    }
    h1 {
      font-size: 70px;
    }
    body{background-color:black;
      
    }
    img {
      margin: 40px 0px 0px 0px;
      border: 7px solid white;
      border-radius: 20px;
    }
    ul {
      padding: 10px;
      background: rgba(0,0,0,0.5);
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
    div{
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
    }
    @media (max-width: 500px) {
      h1 {
        font-size: 36px;
        padding: 5px;
      }
      li {
        padding: 5px;
        display: block;
      }
    }
    h2{font-family: 'Quicksand', sans-serif;
      color: white;
    }
    #like{background-color:white;
      border-radius:100px;}
    }
